<h2 class="text-center m-3">Editar Usuário {{usuario.nome}}</h2>
<hr>
<div class="">
    <div class="row my-2">
        <div class="col-12 col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" [(ngModel)]="usuario.nome" placeholder="Informe seu nome" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" name="data_nascimento" [(ngModel)]="usuario.data_nascimento" id="dataNascimento" class="form-control">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="usuario.email" placeholder="Informe seu email" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" name="senha" id="senha" [(ngModel)]="usuario.senha" placeholder="Insira sua senha" class="form-control">
        </div>
    </div>

    <div class="col-12 text-end">
        <a href="#" [routerLink]="['/usuarios']" class="btn btn-secondary">Voltar</a>
        <button type="submit" (click)="alterar()" class="btn btn-success m-4">Editar</button>
    </div>
</div>
