<div class="">
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input name="nome" id="nome" [(ngModel)]="produto.nome" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label for="preco" class="form-label">Preço</label>
            <input name="preco" id="preco" [(ngModel)]="produto.preco" class="form-control">
        </div>
    </div>

    <div class="col-12 text-end">
        <a href="#" [routerLink]="['/home']" class="btn btn-outline-secondary">Voltar</a>
        <button type="submit" (click)="adicionar()" class="btn btn-outline-success m-4">{{textoBotao}}</button>
    </div>
</div>
