<h2 class="text-center m-3">Cadastrar Usuário</h2>
<hr>
<div *ngFor="let erro of erros">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{erro}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div class="">
    <div class="row my-2">
        <div class="col-12 col-md-4">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" [(ngModel)]="usuario.nome" placeholder="Informe seu nome" class="form-control">
        </div>
        <div class="col-12 col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="usuario.email" placeholder="Informe seu email" class="form-control">
        </div>
        <div class="col-12 col-md-4">
            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" name="data_nascimento" [(ngModel)]="usuario.dataNascimento" id="dataNascimento" class="form-control">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 col-md-6">
            <label for="login" class="form-label">Login</label>
            <input type="text" name="login" id="login" [(ngModel)]="usuario.login" placeholder="Informe seu Login" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" name="senha" id="senha" [(ngModel)]="usuario.senha" placeholder="Insira sua senha" class="form-control">
        </div>
    </div>

    <div class="col-12 text-end">
        <a href="#" [routerLink]="['/usuarios']" class="btn btn-secondary">Voltar</a>
        <button type="submit" (click)="adicionar()" class="btn btn-success m-4">Novo</button>
    </div>
</div>
