
<div class="table-responsive">
    <table class="table table-striped" *ngIf="show">
        <thead>
            <tr>
                <th scope="col">{{columsName[0]}}</th>
                <th scope="col">{{columsName[1]}}</th>
                <th scope="col" class="text-center">{{columsName[2]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <th scope="col">{{item.id}}</th>
                <td>{{item.nome}}</td>
                <td class="text-center">{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

